{% extends 'base.html.twig' %}

{% block title %}Accueil !{% endblock %}

{% block body %}
    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
        <div class="container">
            <div class="row">
                {% for product in products %}
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <img src="{{ product.image }}" alt="..." class="img-thumbnail">
                        <h3> {{ product.name }} </h3>
                        <p>
                            {{ product.description }}
                        </p>
                        <a href="{{ path('payment', {'id': product.id}) }}" class="btn btn-primary btn-block"> {{ product.price|priceEuro('€') }} </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
