<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> Produit en ligne | Ordinateur Portable </title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="https://getbootstrap.com/docs/4.0/assets/img/favicons/favicon.ico">

    <!-- Custom fonts for this template -->
    <link href="{{ asset('vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
    <link href="{{ asset('vendor/simple-line-icons/css/simple-line-icons.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{{ asset('css/landing-page.min.css') }}" rel="stylesheet">
    <link href="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet">
    <style>
        /**
         * The CSS shown here will not be introduced in the Quickstart guide, but shows
         * how you can use CSS to style your Element's container.
         */
        .StripeElement {
            box-sizing: border-box;
            height: 40px;
            width: 100%;
            padding: 10px 12px;
            border: 1px solid transparent;
            border-radius: 4px;
            background-color: white;
            box-shadow: 0 1px 3px 0 #e6ebf1;
            -webkit-transition: box-shadow 150ms ease;
            transition: box-shadow 150ms ease;
        }

        .StripeElement--focus {
            box-shadow: 0 1px 3px 0 #cfd7df;
        }

        .StripeElement--invalid {
            border-color: #0A9B01;
        }

        .StripeElement--webkit-autofill {
            background-color: #fefde5 !important;
        }
    </style>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-dark bg-dark-red static-top">
    <div class="container">
        <a class="navbar-brand btn btn-primary" href="{{ path('home') }}"> {{ 'app.head.home'|trans }} </a>

        <div class="form-inline my-2 my-lg-0">
            {% if app.user %}
                <a href="{{ path('payment_orders') }}" class="btn btn-primary btn-sm mt-3 mr-3 white">
                    <i class="fa fa-card"></i> {{ 'app.head.card'|trans }}
                </a>

                <a href="{{ path('user_logout') }}" class="btn btn-danger btn-sm mt-3 mr-3 white">
                    <i class="fas fa-power-off"></i> {{ 'app.head.logout'|trans }}
                </a>
            {% else %}
                <a href="{{ path('login') }}" class="btn btn-success btn-sm mt-3 mr-3 white">
                    <i class="fas fa-user"></i>  {{ 'app.head.login'|trans }}
                </a>
                <a href="{{ path('register') }}" class="btn btn-secondary btn-sm mt-3 white">
                    <i class="fas fa-users"></i> {{ 'app.head.register'|trans }}
                </a>
            {% endif %}
        </div>
    </div>
</nav>

{% block body %}{% endblock %}

<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
<script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>

<script type="text/javascript">
	$(function () {
		$('.datepicker').datepicker();
	});
</script>
{% block javascripts %}{% endblock %}
</body>
</html>
